.address-tag {
    width: 132px;
    display: inline-block;
    vertical-align: bottom;
    text-overflow: ellipsis;
    overflow: hidden;
}

.display-none {
	display: none;
}

.order-message {
	padding: 20px 20px 0px 20px;
}