.address-tag {
    width: 132px;
    display: inline-block;
    vertical-align: bottom;
    text-overflow: ellipsis;
    overflow: hidden;
}

.display-none {
	display: none;
}

.order-message {
	padding: 20px 20px 0px 20px;
}

.del-link {
	color: red;
}

.table-pagination {
    margin: 20px;
}

.table-pagination .pagination-summary {
    font-style: italic;
    font-size: 90%;
    font-weight: bold;
}

.table-pagination ul.pagination {
    margin-top: 10px!important;
}